@model PaginatedList<Game>

@{
    ViewData["Title"] = "ViewGames";
}

<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    €@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                   
                @if (item.CategoryId >= 1 && item.CategoryId <= 3)
                {
                    @:Casino Game
                }
                else if (item.CategoryId >= 4 && item.CategoryId <= 6)
                {
                    @:Browser Game
                }
                else if (item.CategoryId >= 7 && item.CategoryId <= 9)
                {
                    @:Download Game
                }
                else
                {
                    @:Casino Pass
                }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Game" asp-route-id="@item.GameId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Search" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary text-light @prevDisabled">Previous</a>
<a asp-action="Search" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-primary text-light @nextDisabled">Next</a>