@model PaymentSummaryViewModel
@{
    ViewData["Title"] = "Payment";
}
<script src="https://js.stripe.com/v3/"></script>
<h1>Order Summary</h1>
<table class="table table-bordered table-striped table-light">
    <thead>
        <tr>
            <th>Selected Amount</th>
            <th>Game</th>
            <th class="text-right">Price</th>
            <th class="text-right">Sub Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Game.Name</td>
                <td class="text-right">€@item.Game.Price</td>
                <td class="text-right">
                    €@((item.Amount * item.Game.Price).ToString("F"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">€@((Model.ShoppingCartTotal).ToString("F"))</td>
        </tr>
    </tfoot>
</table>


<div class="card">
    <div class="card-body">
        <h5 class="card-title text-dark">Billing Details</h5>
        <p class="text-sm-left text-dark">
            First Name: @Model.Order.FirstName
        </p>
        <p class="text-sm-left text-dark">
            Last Name: @Model.Order.LastName
        </p>
        <p class="text-sm-left text-dark">
            Phone Number: @Model.Order.PhoneNumber
        </p>
        <p class="text-sm-left text-dark">
            Address: @Model.Order.Address
        </p>
        <p class="text-sm-left text-dark">
            County: @Model.Order.County
        </p>
        <p class="text-sm-left text-dark">
            EirCode: @Model.Order.EirCode
        </p>
    </div>
</div>
<br/>

<button type="button" class="btn btn-primary" id="checkout-button" asp-controller="Payment" asp-action="CreateCheckoutSession">Checkout</button>

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('pk_test_51IB0Z4BTwx1LYfRREoDEBBJOh4HQM4tCzZgvmqRqnutsLFWU2rzPvaUT0pa7vTVp5WqKMMPxyx1nFzeeLjW4o7Eo00umgSxWfI');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
            method: 'POST',
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>