@model Game 

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group text-dark">
                        <label asp-for="GameId" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.GameId)</strong>
                    </div>

                    <div class="form-group text-dark">
                        <label asp-for="CategoryId" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.CategoryId)</strong>
                    </div>

                    <div class="form-group text-dark">
                        <label asp-for="Name" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.Name)</strong>
                    </div>
                    <div class="form-group text-dark">
                        <label asp-for="Description" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.Description)</strong>
                    </div>
                    <div class="form-group text-dark">
                        <label asp-for="IsOnSale" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.IsOnSale)</strong>
                    </div>
                    <div class="form-group text-dark">
                        <label asp-for="ImageThumbnailUrl" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.ImageThumbnailUrl)</strong>
                    </div>
                    <div class="form-group text-dark">
                        <label asp-for="ImageUrl" class="control-label"></label><br />
                        <strong> @Html.DisplayFor(model => model.ImageUrl)</strong>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-gameId="@Model.GameId">Edit</a> |
    <a class="btn btn-success" asp-action="ViewGames">Back to List</a> |
    @if(Model.CategoryId >= 4 && Model.CategoryId <= 9)
    {
         <a class="btn btn-primary" asp-action="DownloadDetails" asp-route-gameId="@Model.GameId">Game Files</a>
    }
</div>