@model Game
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="img-thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="image thumbnail" />
        <div class="figure-caption">
            <h3 class="float-sm-right">@Model.Price.ToString("c")</h3>
            <h3><a asp-controller="Game" asp-action="Details" asp-route-id="@Model.GameId">@Model.Name</a></h3>
            <h3>@Model.Description </h3>
        </div>
        @if (Model.CategoryId >= 1 && Model.CategoryId <= 3)
        {
            <div class="startCasinoGame">
                <a class="btn btn-success" asp-controller="Start" asp-action="Index" asp-route-gameId="@Model.GameId">Start Game</a>
            </div>
        }
        else
        {
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-gameId="@Model.GameId">Add to Cart</a> 
            </p>
        </div>
        }
    </div>
</div>